@import url(card.css);

@import url(card__img.css);

@import url(card__texto.css);

@import url(card__titulo.css);

.cards{
display: flex;
flex-wrap: wrap;
height: 55rem;
justify-content: space-between;
margin: 5rem auto;
width: 55rem;

}
