.footer__icon{
  display: flex;
  padding-left: 3rem;
}

.footer__icon--facebook{ 
  background-image: url(../Img/icones/facebook.png);
  background-size: cover;
  background-position: center;
  display: flex;
  height: 3rem;
  margin-left: 1rem;
  width: 3rem;
}

.footer__icon--instagram{
  background-image: url(../Img/icones/instagram.png);
  background-size: cover;
  background-position: center;
  display: flex;
  height: 3rem;
  margin-left: 1rem;
  width: 3rem;
}

.footer__icon--twitter{
  background-image: url(../Img/icones/twitter.png);
  background-size: cover;
  background-position: center;
  display: flex;
  height: 3rem;
  margin-left: 1rem;
  width: 3rem;
}
